body {
    background-color: #f9f9f9;
    font-family: "JetBrains Mono", monospace;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h2{
  margin-left: 14rem;
}


/* Dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */

.dropbtn {
    background-color: transparent;
    color: #333;
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
}


.dropbtn:hover {
    background-color: #C0D9DC;
    color: #fff;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    border-radius: 7px;
}

.dropdown-content a {
    color: #333;
    padding: 7px;
    display: block;
    border-bottom: 1px solid #333;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}



.container {
    margin: 0 auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: auto;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 2px solid black;
}

.navBar {
    display: flex;
    gap: 1rem;
    margin-top: 4rem;
}

.navBar a:hover, .navBar a:focus {
    color: #333;
    background-color: #C0D9DC;
    transition: background-color 0.7s ease;
}

.navBar a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 1px solid;
    border-radius: 7px;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
  flex: 0 0 35%;
  margin-left: 5rem;
  margin-top: 10rem;
}

.image-container:before {
    content: '';
    position: absolute;
    top: 36rem;
    left: 14rem;
    width: 30%;
    height: 65%;
    background-color: #D1E7F7;
    border: 2px solid #333;
    z-index: -1;
}

.img-wrapper {
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
}

#about-page {
    flex: 1;
}


.first-section-box {
    width: 50%;
    background-color: #E9F3FA;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 12rem;
    border: 2px solid #333;
}

.second-section-box {
    width: 50%;
    background-color: #E9F3FA;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 22rem;
    border: 2px solid #333;
}

.third-section-box {
    width: 50%;
    background-color: #E9F3FA;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    margin-left: 12rem;
    border: 2px solid #333;
}


footer {
  margin-top: 5rem;
  background-color: #C4D1D6;
  padding: 20px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.footer-links1,
.footer-links {
  display: flex;
  align-items: center;
}

.footer-links1 {
  margin-bottom: 5rem;
  border: none;
}

.footer-links1 img,
.footer-links .icon {
  width: 30px;
  height: auto;
  margin-right: 5rem;
  border: none;
}

.footer-links1 img.logo {
  width: 90px;
  border: none;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  margin-right: 3rem;
}
